#root {
  background-color: rgba(248, 246, 236, 1);
  min-height: 100%;
  min-width: 100%;
}

.layout {
  border-left: 10px solid rgba(0, 0, 0, 1);
  margin: 0 auto;
  max-width: 1580px;

  @media (max-width: 768px) {
    padding: 16px 24px;
  }
}
