.marker {
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
}

.marker:hover {
  transform: scale(1.25);
  transition: transform 0.1s ease-in-out;
}

.marker-covered {
  background-color: #9c27b0;
  height: 20px;
  padding: 2px;
  width: 20px;
}

.marker-image {
  height: 100%;
  width: 100%;
}

.marker-missing {
  background-color: #e91e63;
  height: 30px;
  padding: 3px;
  width: 30px;
}

.marker-selected {
  transform: scale(2.5);
  transition: transform 0.1s ease-in-out;
}

.marker-stale {
  opacity: 0.5;
}

.marker-temporary {
  background-color: #ff9800;
  height: 60px;
  padding: 3px;
  width: 60px;
}
