.header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 4.75rem;
  text-wrap: nowrap;
}

.header-letter {
  display: inline-block;
  animation: letterAnimation 0.05s linear forwards;
  opacity: 0;
  transform: translateX(20px);
}

@keyframes letterAnimation {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.8);
  }

  50% {
    opacity: 1;
    transform: translateX(-5px) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
